@import '../abstracts/function';
#contacts{
    background-color: black;
    h1{
        color: text(rgb(22, 2, 2));
    }
}

@media (max-width: 800px) {
    #contacts{
        background-color:rgb(26, 24, 24);
       
        #contactdiv h1{
            color: text(rgb(250, 250, 250)) !important;
        }
         
    }
    
}